<ion-view view-title="Add slack">
<ion-content class="has-header" ng-controller="SettingsCtrl">

<ion-list>
<form name="slack_register_form" class="" novalidate ng-submit="register(newSlack)">
	<div class="list">
		<label class="item item-input">
			<input type="text" placeholder="Slack name" name="name" ng-model="newSlack.name" required>
		</label>
		<label class="item item-input">
			<input type="text" placeholder="URL(example.slack.com)" name="url" ng-model="newSlack.url" required>
		</label>
		
		<!-- <div class="row responsive-sm"> -->
		<label class="item item-input">
			<input type="text" placeholder="Token : Click below link (only administer)" name="token" ng-model="newSlack.token" >
		</label>
		<br>
		<!-- <button class="button button-positive"> -->
		<div class="text-center">
			<a href="#" target="_blank" style="text-decoration:none"
			onclick="window.open('https://api.slack.com/web#auth', '_system', 'location=yes'); return false;">
				<span style="color:black">Checking Token</span>
			</a>
		</div>
		<!-- </button> -->
		<br>
		<!-- </div> -->

		<label class="item item-input" show-hide-container>
			<textarea rows="10" cols="5" placeholder="Introduce your slack" name="description" ng-model="newSlack.description">
			</textarea>
		</label>

		<label class="item item-input item-select">
			<div class="input-label">
				Invite type
			</div>
			<select ng-model="newSlack.type" ng-init="newSlack.type='0'">
				<option value="0">Public invitation</option>
				<option value="1">Private invitation</option>
				<option value="2">Invitation impossible</option>
			</select>
		</label>

		<label class="item item-input item-select">
			<div class="input-label">
				Category
			</div>
			<select ng-model="newSlack.category" ng-init="newSlack.category='IT & Tech'">
				<option value="IT & Tech" selected>IT & Tech</option>
				<option value="Culture">Culture</option>
				<option value="Contents">Contents</option>
				<option value="Etc">Etc</option>
			</select>
		</label>
	</div>

	<button type="submit" class="button button-assertive button-block" ng-disabled="slack_register_form.$invalid">
		Add Slack
	</button>
</form>

</ion-list>

</ion-content>
</ion-view>
