<ion-view view-title="{{slack.data.name}}">
<ion-content class="padding">

<ion-list ng-controller="SlackDetailCtrl" >

<ion-item class="list card" ng-repeat="item in slack.data">
<div class="item">
	<h2>{{item.name}}</h2>
	<p>{{item.category}} / {{item.created | date:'MM-dd'}}</p>
</div>
<div class="item item-body">
	<p>
		{{item.description}}
	</p>
	<p>
		<p>url : {{item.url}}<br>
			{{item.type | slackType}} / {{item.user_username}} 님</p>
		</p>
	</div>
</ion-item>
</ion-list>

<div class="list">
	<form name="register_form" class="" novalidate ng-submit="register(text)">
		<label class="item item-input">
			<input type="text" placeholder="Write the reason you want to join" name="description" ng-model="text.description" required>
		</label>
		<button type="submit" class="button button-positive button-block" ng-disabled="register_form.$invalid">
			I want to join
		</button>
	</form>
</div>

</ion-content>

</ion-view>
