<ion-view view-title="My registers">
<ion-content class="padding" ng-controller="MyRegistersCtrl" >
<ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
</ion-refresher>

<ion-list>

<ion-item class="list card" ng-repeat="item in myRegisters">
<div class="item">
	<h2>{{item.slack_name}}</h2>
</div>
<div class="item item-body">
	<p>
		{{item.description}}
	</p>
	<p>
		{{item.type | registerType}} / {{item.created | date:'MM-dd'}}
	</p>
</div>

</ion-item>

</ion-list>

<ion-infinite-scroll on-infinite="loadMore()" distance="5%" ng-if="!noMoreItemsAvailable"></ion-infinite-scroll>

</ion-content>

</ion-view>
