<ion-view view-title="My registers" class="background_default">
<ion-content class="padding" ng-controller="MyRegistersCtrl" >
<ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
</ion-refresher>

<ion-list>

<div class="list card" ng-repeat="item in myRegisters">
	<div class="item card_upper">
		<h2>{{item.slack}}</h2>
	</div>
	<div class="item item-body">
		<p>
			{{item.description}}
		</p>
		<div class="row" style="font-size: 13px;">
			<span class="col col-50">{{item.created | date:'MM-dd'}}</span>
			<span class="col col-50" ng-style="typeColor({{item.type}})">{{item.type | registerType}}</span>
		</div>
	</div>

</div>

</ion-list>

<ion-infinite-scroll on-infinite="loadMore()" distance="5%" ng-if="!noMoreItemsAvailable"></ion-infinite-scroll>

</ion-content>

</ion-view>
