<ion-view view-title="My slacks">
<ion-content class="padding" ng-controller="MySlacksCtrl" >

<ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
</ion-refresher>

<ion-list>

<ion-item class="list card" href="#/tab/mySlacks/{{item.id}}" ng-repeat="item in mySlacks">
<div class="item">
	<h2>{{item.name}}</h2>
</div>
<div class="item item-body">
	<p>
		{{item.description}}
	</p>
	<p>
		{{item.type | slackType}} / {{item.created | date:'MM-dd'}}
	</p>
</div>

</ion-item>

</ion-list>

<ion-infinite-scroll on-infinite="loadMore()" distance="5%" ng-if="!noMoreItemsAvailable"></ion-infinite-scroll>


</ion-content>

</ion-view>
