<ion-view view-title="설정">
<ion-content class="has-header" ng-controller="SettingsCtrl">

<ion-list>

<form name="slack_register_form" class="" novalidate ng-submit="register(newSlack)">
	<div class="list">
		<label class="item item-input">
			<input type="text" placeholder="Name" name="name" ng-model="newSlack.name" required>
		</label>
		<label class="item item-input">
			<input type="text" placeholder="URL" name="url" ng-model="newSlack.url" required>
		</label>

		<label class="item item-input">
			<input type="text" placeholder="Token" name="token" ng-model="newSlack.token" >
		</label>

		<label class="item item-input" show-hide-container>
			<textarea rows="3" cols="5" placeholder="Description" name="description" ng-model="newSlack.description">
			</textarea>
		</label>

		<label class="item item-input item-select">
			<div class="input-label">
				Type
			</div>
			<select ng-model="newSlack.type" ng-init="newSlack.type='0'">
				<option value="0">Public</option>
				<option value="1">Private</option>
				<option value="2">Impossible</option>
			</select>
		</label>

		<label class="item item-input item-select">
			<div class="input-label">
				Category
			</div>
			<select ng-model="newSlack.category" ng-init="newSlack.category='Tech'">
				<option value="Tech" selected>Tech</option>
				<option value="Culture">Culture</option>
				<option value="ETC">ETC</option>
			</select>
		</label>
	</div>

	<button type="submit" class="button button-assertive button-block" ng-disabled="slack_register_form.$invalid">
		Register
	</button>
</form>


<div class="text-center">
	
	<button class="button button-positive" ng-click="logout()">
		Logout
	</button>
</div>
</ion-list>

</ion-content>
</ion-view>
