<ion-view view-title="My slacks">
<ion-content class="padding" ng-controller="MySlacksCtrl" >

<ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
</ion-refresher>

<ion-list>

<ion-item class="list card" href="#/tab/mySlacks/{{item.id}}" ng-repeat="item in mySlacks">
<div class="item" style="padding: 5px;">
	<h2>{{item.name}}</h2>
</div>
<div class="item item-body" style="padding: 5px;">
	<p>
		{{item.description}}
	</p>

	<div class="row" style="font-size: 13px;">
		<span class="col col-50">{{item.created | date:'MM-dd'}}</span>
		<span class="col col-50" ng-style="typeColor({{item.type}})">{{item.type | slackType}}</span>
	</div>


</div>

</ion-item>

</ion-list>

<ion-infinite-scroll on-infinite="loadMore()" distance="5%" ng-if="!noMoreItemsAvailable"></ion-infinite-scroll>


</ion-content>

</ion-view>
