<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Slacklist" icon-off="ion-pound" icon-on="ion-pound" href="#/tab/slack">
    <ion-nav-view name="tab-slack"></ion-nav-view>
  </ion-tab>

  <!-- myRegisters Tab -->
  <ion-tab title="Myregister" icon-off="ion-ios-list-outline" icon-on="ion-ios-list-outline" href="#/tab/myRegisters">
    <ion-nav-view name="tab-myRegisters"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Myslack" icon-off="ion-ios-checkmark-outline" icon-on="ion-ios-checkmark-outline" href="#/tab/mySlacks">
    <ion-nav-view name="tab-mySlacks"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Setting" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
